* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    color: #333;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    border-spacing: 0;
    border-radius: 5px;
    border: 1px solid #428bca;
    width: 500px;
    margin: 20px auto;
}

thead tr:first-child {
    background: #428bca;
    color: #fff;
    border: none;
}

th {
    font-weight: bold;
}

td {
    text-align: center;
    border: 1px solid #428bca;;
}

tbody tr:hover {
    opacity: 0.7;
}

tbody td {
    border-bottom: 1px solid #ddd;
}

.selectItem {
    background-color: #ADD8E6;
}